<%= render @team %>

<div>
  <%= link_to "Ändern", edit_team_path(@team), class: '--bordered' %>
  <%= render "formelements/delete_action", url: @team %>
  <br>
  <%= link_to "Zurück zu allen Teams", teams_path, class: '--bordered' %>
</div>
