<div>
  <%= render_breadcrumbs %>
</div>

<h1>Campjahre</h1>

<%= link_to 'Neues Campjahr', new_campyear_path, class: '--bordered' %>

<div id="campyears">
  <% @campyears.each do |campyear| %>
    <%= render campyear %>
    <p>
      <%= link_to "Anzeigen Campjahr", campyear %>
    </p>
  <% end %>
</div>
