<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Campjahre</h1>

<div id="campyears">
  <% @campyears.each do |campyear| %>
    <%= render campyear %>
    <p>
      <%= link_to "Anzeigen des Campjahrs", campyear %>
    </p>
  <% end %>
</div>

<br>
<%= link_to "Erstellen eines neuen Campjahrs", new_campyear_path %>
