<div id="<%= dom_id message %>">
  <p>
    <strong>Name:</strong>
    <%= message.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= message.email %>
  </p>

  <p>
    <%= message.message %>
  </p>

</div>
