<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Messages</h1>

<div id="messages">
  <div class="message-preview">
    <% @messages.each do |message| %>
      <%= link_to "#{message.name}: #{message.desc_short}", message, class: class_names('message-preview__unread': !message.read) %>
      <br>
    <% end %>
  </div>
</div>
