<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Messages</h1>

<div id="messages">
  <div class="message-preview">
    <% @messages.each do |message| %>
      <%= link_to message, class: class_names('message-preview__unread': !message.read) do %>
        <span>
          <%= "(#{l message.created_at})" %>
        </span>
        <%= "#{message.name}: #{message.desc_short}" %>
      <% end %>
      <br>
    <% end %>
  </div>
</div>
