<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Messages</h1>

<div id="messages">
  <% @messages.each do |message| %>
    <%= link_to "#{message.name}: #{message.message[0..70]...}", message, class: ((!message.read) ? 'danger' : '') %>
    <br>
  <% end %>
</div>
