@import '../mixins/*';

button,
input[type="submit"] {
  @include bordered;

  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--primary);

  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue-300);
  }

  &:focus {
    background-color: var(--blue-100);
  }

  &.danger {
    color: var(--danger);

    &:hover {
      color: var(--danger-hover);
    }
  }

  &.btn--bordered {
    border-color: var(--blue-300);
    background-color: var(--white);
    color: var(--black);

    &:hover {
      border-color: var(--blue-500);
    }
  }
}

.button {
  @include bordered;

  color: var(--white);
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5rem;
  background-color: var(--primary);
  text-align: center;

  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--blue-300);
  }

  &:focus {
    background-color: var(--blue-100);
  }

  &.danger {
    color: var(--danger);

    &:hover {
      color: var(--danger-hover);
    }
  }

  &.btn--bordered {
    border-color: var(--blue-300);
    background-color: var(--white);
    color: var(--black);

    &:hover {
      border-color: var(--blue-500);
    }
  }
}

.button-passive {
  background-color: var(--gray-400) !important;
}
