footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--spacing-xl) 0;
  margin: 5rem 0;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    margin: 0;
    padding: 5rem 0 var(--spacing-md) 0;

    &>* {
      margin-bottom: 1rem;
    }
  }
}
