<h1>Editing camp</h1>

<%= render "form", camp: @camp, url: edit_campyear_camp_path(@campyear, @camp) %>

<br>

<div>
  <%= link_to "Zurück zum Camp", campyear_camp_path(@campyear, @camp) %> |
</div>
