<%= render @camp %>

<div>
  <%= link_to "Ändern vom Camp", edit_campyear_camp_path(@campyear, @camp) %> |
  <%= link_to "Zurück zum Campjahr", @camp.campyear %> |
  <%= button_to "Lösche Camp", campyear_camp_path(@campyear, @camp), method: :delete, class: 'danger', form: { data: { 'turbo_confirm': 'Sicher, dass das Campjahr gelöscht werden soll?' } } %>
</div>
