<h1>Admin#dashboard</h1>

<%= link_to 'Nachrichten', messages_path %>
<br>
<%= link_to 'Seiten', pages_path %>
<br>
<%= link_to 'Termine', events_path %>
<br>
<%= link_to 'Campjahr', campyears_path %>
