<hgroup class="centered">
  <h1>Abenteuer Leben e.V.</h1>
  <h2>Sommercamps für Kinder und Teens</h2>
</hgroup>

<div style="background-color: var(--blue-600);">
  <ul style="padding-bottom: var(--spacing-lg); background-color: var(--white); border-bottom-right-radius: 90% 50%;">
    <li>
      <a href="#wer-wir-sind">Wer wir sind</a>
    </li>
    <li>
      <a href="#was-wir-machen">Was wir machen</a>
    </li>
    <li>
      <a href="#termine">Termine</a>
    </li>
    <li>
      <a href="#kontakt">Kontakt</a>
    </li>
    <li>
      <a href="/mitarbeiteranmeldung">Mitarbeiteranmeldung</a>
    </li>
    <li>
      <a href="/kinderanmeldung">Kinderanmeldung</a>
    </li>
    <li>
      <a href="/pages/downloads">Downloads</a>
    </li>
    <li>
      <a href="/pages/spenden">Spenden / Unterstützen</a>
    </li>
  </ul>
</div>

<div style="background-color: var(--blue-600); padding: 3rem 1rem; border-top-left-radius: 10% 3rem;  border-bottom-right-radius: 60% 30%; border-bottom-left-radius: var(--border-radius)">
  <article id="wer-wir-sind">
    <h2 class="centered">Wer wir sind</h2>
    <p>
      Wir sind eine Gruppe motivierter Christen, die biblische Werte und Prinzipien vertreten und diese gemeinsam mit der heranwachsenden Generation ausleben möchten.
      <br>
      Ein Team ehrenamtlicher Mitarbeiter macht es sich zur Aufgabe, zwei Wochen Ferienzeit zu einem interessanten und außergewöhnlichen Erlebnis zu gestalten!
    </p>
  </article>

  <article id="was-wir-machen">
    <h2 class="centered">Was wir machen</h2>
    <p>
      Unsere Camps bieten eine gute Möglichkeit, eine Woche lang zusammen zu sein, gute Gemeinschaft zu erleben, miteinander in der Bibel zu forschen, zu beten, Jesus Christus persönlich zu begegnen, persönliche Gespräche zu führen und neue Freunde kennenzulernen.
      <br>
      Auf den Sommercamps sollen junge Menschen die Möglichkeit haben, christlichen Glauben zu leben, zu vertiefen, bzw. diesen ganz neu kennenzulernen.
    </p>
  </article>
</div>

<div id="termine" style="margin-top: var(--spacing-xl);">
  <h2 class="centered">Termine</h2>
  <div style="display: flex; flex-direction: column; align-items: start;">
    <%= 'Nothing to show' if @events.length == 0 %>
    
    <% @events.each do |event| %>
      <%= render 'events/event', event: event %>
    <% end %>
  </div>
</div>

<hr style="margin: var(--spacing-xl) 0;">

<div id="kontakt" style="margin: 0 var(--spacing-sm);">
  <h2 class="centered">Kontakt</h2>
  <%= render 'messages/form', message: @message %>
</div>

