<h1 class=centered>Spenden / Unterstützen</h1>

<hgroup>
  <h3>Kontoverbindung</h3>
  <p>
    Abenteuer Leben e.V.
    <br>
    DE56 4765 0130 0000 1374 55
  </p>
</hgroup>

<br>
<h3>Danke, dass du mit uns ins Reich Gottes investierst!</h3>

<p>
  Schön, dass du uns unterstützen möchtest.
  <br>
  Unsere Arbeit wird - abgesehen von den geringen Teilnahmegebühren - ausschließlich durch Spenden finanziert. Mit deiner finanziellen Beteiligung, machst du es möglich, dass Kinder und Jugendliche in ihrer Beziehung zu Jesus gefördert werden können.
</p>

https://nhn.github.io/tui.editor/latest/
https://github.com/nhn/tui.editor/tree/master/apps/editor
