<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Events</h1>

<%= link_to "Neuer Termin", new_event_path, class: "--bordered" %>

<div id="events">
  <% @events.each do |event| %>
    <%= render event do %>
      <%= link_to "Anzeigen Termin", event %>
    <% end %>
  <% end %>
</div>
