<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path, style: 'border: 1px solid var(--primary); padding: .2rem .7rem; border-radius: var(--border-radius);'  %>
