<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Events</h1>

<div id="events">
  <% @events.each do |event| %>
    <%= render event do %>
      <%= link_to "Anzeigen dieses Termins", event %>
    <% end %>
  <% end %>
</div>

<%= link_to "Neuer Termin", new_event_path, style: 'border: 1px solid var(--primary); padding: .2rem .7rem; border-radius: var(--border-radius);'  %>
