<%= link_to '< Admin Dashboard', admin_dashboard_path %>

<h1>Pages</h1>

<div id="pages">
  <% @pages.each do |page| %>
    <p>
      &gt; <%= link_to page.url, page_path(page.url) %>
    </p>
  <% end %>
</div>

<%= link_to "New page", new_page_path, style: 'border: 1px solid var(--primary); padding: .2rem .7rem; border-radius: var(--border-radius);'  %>
