<%# arguments(url) %>
<% if @current_user.delete_rights? %>
  <%= form_with url: url, method: :delete, data: {turbo: false} do |form| %>
    <button
      type="button"
      class="danger"
      onclick="submitIfOk(this)"
    >Lösche Element</button>
  <% end %>
<% end %>
