<% if record.errors[field].any? %>
  <div style="color: var(--red-100)">
    <ul>
      <% record.errors[field].each do |error| %>
        <li>
          <%= forticon 'circle-exclamation', height: 18, style: 'color: var(--danger)' %>
          <%= error %>
        </li>
      <% end %>
    </ul>
    </p>
  </div>
<% end %>

