<style>
  .helper-info__photo-wrapper {
      margin: var(--spacing) 0;
      display: flex;
      justify-content: center;
  }

  .helper-info__photo {
    border: 1px solid var(--gray-300);
    border-radius: var(--border-radius);
    max-height: 256px;
  }

  /* desktop styles */
  @media(min-width: 768px) {
  }
</style>

<div style="display: block; margin-bottom: 2rem;">
  <%= link_to "< Zurück zu allen Mitarbeitern", helpers_path %>
</div>

<div class="helper-info">

  <% if @helper.photo.attached? %>
    <div class="helper-info__photo-wrapper">
      <%= image_tag @helper.photo, class: 'helper-info__photo' %>
    </div>
  <% end %>

  <%= render @helper %>
</div>

<%= render "formelements/delete_action", url: @helper %>
