<% if @helper.photo.attached? %>
  <%= image_tag @helper.photo.variant(:thumb) %>
<% end %>

<%= render @helper %>

<div>
  <%#= link_to "Bearbeite Mitarbeiter", edit_helper_path(@helper), class: '--bordered' %>
  <%= button_to "Mitarbeiter löschen", @helper, method: :delete, class: 'danger' %>
  <br>
  <%= link_to "Zurück zu allen Mitarbeitern", helpers_path %>
</div>
