<%= render @helper %>

<div>
  <%# <%= link_to "Edit this helper", edit_helper_path(@helper) %>
  <br>
  <%= link_to "Zurück zu allen Mitarbeitern", helpers_path %>

  <%= button_to "Mitarbeiter löschen", @helper, method: :delete, class: 'danger' %>
</div>
